h4{
    margin-left: 50px;
    font-weight: bold;
}

h5{
    margin-top: 20px;
    font-weight: bold;
}

.barredPlayerDetail div span{
    display: inline-block;
    width: 200px;;
    margin: 10px 10px 0px 30px;
    font-weight: bold;
}

.barredPlayerDetail{
    margin-left: 50px;
}

.button{
    margin: 10px;
    padding: 6px 15px 6px 15px;
    background-color: white;
    border: 1px solid #CF975A;
    color: #CF975A;
    border-radius: 4px;
}

.buttonGroup{
    display: flex;
    justify-content: flex-end;
}